@font-face {
	font-family: 'TrajanPro';
	src: url('fonts/TrajanPro-Regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/TrajanPro-Regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/TrajanPro-Regular.woff') format('woff'), /* Modern Browsers */
	     url('fonts/TrajanPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/TrajanPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TrajanPro';
	src: url('fonts/TrajanPro-Bold.eot'); /* IE9 Compat Modes */
	src: url('fonts/TrajanPro-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/TrajanPro-Bold.woff') format('woff'), /* Modern Browsers */
	     url('fonts/TrajanPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/TrajanPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Entypo';
	src: url('fonts/entypo.eot'); /* IE9 Compat Modes */
	src: url('fonts/entypo?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/entypo.woff') format('woff'), /* Modern Browsers */
	     url('fonts/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/entypo.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'EntypoSocial';
	src: url('fonts/entypo-social.eot'); /* IE9 Compat Modes */
	src: url('fonts/entypo-social?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/entypo-social.woff') format('woff'), /* Modern Browsers */
	     url('fonts/entypo-social.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/entypo-social.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {font-family: 'ProximaNovaSCond-Bold';src: url('fonts/21DB05_0_0.eot');src: url('fonts/21DB05_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/21DB05_0_0.woff') format('woff'),url('fonts/21DB05_0_0.ttf') format('truetype');} 
@font-face {font-family: 'ProximaNovaACond-Bold';src: url('fonts/21DB05_1_0.eot');src: url('fonts/21DB05_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/21DB05_1_0.woff') format('woff'),url('fonts/21DB05_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaCond-Bold';src: url('fonts/21DB05_2_0.eot');src: url('fonts/21DB05_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/21DB05_2_0.woff') format('woff'),url('fonts/21DB05_2_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNovaA-Regular';src: url('fonts/2405CB_0_0.eot');src: url('fonts/2405CB_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405CB_0_0.woff') format('woff'),url('fonts/2405CB_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaS-Regular';src: url('fonts/2405CB_1_0.eot');src: url('fonts/2405CB_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405CB_1_0.woff') format('woff'),url('fonts/2405CB_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('fonts/2405CB_2_0.eot');src: url('fonts/2405CB_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405CB_2_0.woff') format('woff'),url('fonts/2405CB_2_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNovaS-Regular';font-weight: bold;src: url('fonts/2405D1_0_0.eot');src: url('fonts/2405D1_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405D1_0_0.woff') format('woff'),url('fonts/2405D1_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaA-Regular';font-weight: bold;src: url('fonts/2405D1_1_0.eot');src: url('fonts/2405D1_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405D1_1_0.woff') format('woff'),url('fonts/2405D1_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';font-weight: bold;src: url('fonts/2405D1_2_0.eot');src: url('fonts/2405D1_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405D1_2_0.woff') format('woff'),url('fonts/2405D1_2_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNovaA-Regular';font-style: italic;src: url('fonts/2405DC_0_0.eot');src: url('fonts/2405DC_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405DC_0_0.woff') format('woff'),url('fonts/2405DC_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaS-Regular';font-style: italic;src: url('fonts/2405DC_1_0.eot');src: url('fonts/2405DC_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405DC_1_0.woff') format('woff'),url('fonts/2405DC_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';font-style: italic;src: url('fonts/2405DC_2_0.eot');src: url('fonts/2405DC_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2405DC_2_0.woff') format('woff'),url('fonts/2405DC_2_0.ttf') format('truetype');}	

