html {
	background: url(images/full_bg.jpg) no-repeat center center fixed;
	background-size: cover;
	@media screen and (max-width:$mobileBreak) {
	 	background: none;

	}
}
body {

  position: relative;
  padding-top: 48px;
}


.site-main {
	max-width:1170px;
	margin-right:2*$gutter;

	@media screen and (max-width:$tabletBreak) {
		margin:0 0;
	}

}
.left-panel {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:$quarter+$gutter;
	width:280px;
	//height: 100%;
	position: fixed;
	top:48px;
	bottom:0px;
	z-index:98;
	padding:0 0 4em 0;
	background:rgba(250,250,250,0.82);
    box-shadow: inset 10px 5px 30px -10px #999999;




	@media screen and (max-width:$tabletBreak) {

		float:none;
		width:100%;
		position:static;
		width:auto;
		//display: none;

		padding:0 0 0 0;


	}
	@media screen and (max-width:$mobileBreak) {
		padding:0 0 0 0;
	}


}
.right-panel {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid $gray;

	float:left;
	position:relative;
	top:0px;
	bottom:0px;

	z-index:98;
	padding:1em 2em 0 2em;
	margin-left:280px;


	background:url(images/pattern.png) repeat left top $white_mod;
	box-shadow: 15px 0px 45px -15px $black_mod;

	@media screen and (max-width:$tabletBreak) {
		float:none;
		width:100%;
		margin-left:0;
		padding:1em 2em 0 2em;
		//margin-right:0;
	}
	@media screen and (max-width:$mobileBreak) {
		width:100%;
		padding:1em 1em 0 1em ;
		position:static;
		box-shadow: 0 0 0 0 transparent;
	}



}
.content-area {
	padding-bottom:6em;
	min-height:980px;
	@media screen and (max-width:$mobileBreak) {
		padding-bottom:4em;
		min-height:auto;
	}
}
.footerwrap {

	position:relative;
	left:0;bottom:0;
	top:100%;
	z-index:99;
	width: 100%;

	background:url(images/black_lozenge.png) repeat left top $black_pp;
	color:$white_mod;
	@media screen and (max-width:$mobileBreak) {
		position:static;
	}
}

.site-footer {
	font-size:0.875em;
	max-width:1170px;
}


.bottom1 {
	background:$orange;
	padding:1.5em 1em;
	//max-width:1170px;
	display:none;
	@media screen and (max-width:$tabletBreak) {
		display:block;
	}
}
.bottom2 {
	background:$orange;
	padding:1.5em 1em;
	//max-width:1170px;
	display:none;
	@media screen and (max-width:$tabletBreak) {
		display:block;
	}
}


.site-info {
	position:relative;

	max-width:1170px;
	margin:0 auto;
	padding:0.5em 1em;

}
