/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
#searchsubmit {
	display: none;
}


.leftsidebar {
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	margin:2em 2em 3em 2em;
	font-size:0.875em;
	text-align:center;

	@media screen and (max-width:$tabletBreak) {
		float:none;
		width:auto;
		position:static;
		display:none;
		
	}

	@media screen and (max-width:$mobileBreak) {
	}

	.widget {
		margin-bottom:0;
	}

	h3 {
		font-family:$normal;
		margin:3em 2em 0.25em 2em;
		text-align:center;
		font-size:1em;
		color:$black_mod;

	}

	address {
		font-style:normal;
	}

}

#secondary {
	border-top:2px solid $gray_pp;
	margin:2em -2em 0 -2em;
	padding:2em;
	background:$white_mod;
	@media screen and (max-width:$mobileBreak) {
		margin:2em -1em 0 -1em;
		padding:1em;

	}

}

#secondary .widget {
	width:$half;
	float:left;
	margin-left:$gutter;
	&:first-child {
		margin-left:0;
	}
	@media screen and (max-width:$mobileBreak) {
		float:none;
		width:100%;
		margin-left:0;

	}

	.widget-title {
		margin-bottom:0;
	}

}

.kiemel {
	margin:1em -2em 1em -2em;
	padding:1em 2em 1.5em 2em;
	background: url(images/square.jpg) repeat left top $white_mod;
	//font-style:italic;
	font-weight:bold;
	border-top:1px solid $gray_pp;
	border-bottom:1px solid $gray_pp;
	//@include box-shadow(5px 0px 15px -5px $gray);
	font-family:$trajan;
	color:$red;
	//font-size:1.5em;
	p:last-child {
		margin-bottom:0;
	}
	h1 {
		//margin-top:0;
		font-size:1.5em;
		line-height:1.125em;
	}

	.btn {
		text-align:right;
		float:right;		
	}




	@media screen and (max-width:$mobileBreak) {
		margin:-1em -1em 1em -1em;
		padding:1em 1em 1.5em 1em;
	}



}
.homelist {
	// width:4*$column+3*$gutter;
	// float:left;

	// @media screen and (max-width:$mobileBreak) {
	// 	float:none;
	// 	width:100%;
		
	// }

	.proditem{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float:left;
		width:18.2%;
		margin-right:$gutter;
		&:last-child {
			margin-right:0;
		}

		@media screen and (max-width:$mobileBreak) {
	 		//float:none;
			width:48.2%;
			//margin-right:0;

			&:nth-child(2n) {
				margin-right:0;
			}
			&:nth-child(2n+1) {
				
				clear:left;
			}
		
	}



	}


	.proditem > a {
		display:block;
		padding:0.25em;
		background:$white_mod;
		&:hover {
			background:$orange;
		}
	}

	h3 {
		font-size:0.875em;
		line-height:1.125em;
		text-align:center;
		margin-top:0.5em;
		a{
			text-decoration:none;
		}
	}

}



.home .entry-title {
	display:none;
}



.single-product .entry-content,  .home .entry-content {

	// width:8*$column+7*$gutter;
	// float:left;
	// margin-left:$gutter;

	// @media screen and (max-width:$mobileBreak) {
	// 	float:none;
	// 	width:100%;
	// 	margin-left:0;

	// }

	// .half {
	// 	width:$half;
	// 	float:left;
	// 	@media screen and (max-width:$mobileBreak) {
	// 		width:auto;
	// 		float:none;
	// 		margin-left:0 !important;
	// 	}

	// }
	// .half.last {
	// 	margin-left:$gutter;
	// }
	h2 {
		margin: 0 0 0 $third+$gutter;
		@media screen and (max-width:$mobileBreak) {
		 margin-left:0;
		}
	}

	counter-reset: h3;

	h3{
		float:left;
		width:$third;
		margin-top:2em;
		margin-bottom:0;
		font-size:1em;
		line-height:1.125em;
		margin-right:$gutter;
		color:$red_mm;
		&:before {
			content: counter(h3) ". ";
    		counter-increment: h3;  /* Add 1 to chapter */
    		display:block;
    		float:left;
    		margin-top:-0.5em;
    		margin-right:0.25em;
    		text-align:right;
    		color:$white_mod;
    		font-size:2em;
    		line-height:1.25em;
    		font-weight:bold;
    		font-family:$trajan;
    		background:$red;
    		width:1em;
    		height:1em;
		}


		@media screen and (max-width:$mobileBreak) {
			width:auto;
			float:none;
			margin-right:0;
		}

	}
	p {
		margin-top:1.75em;
		float:left;
		width:2*$third +$gutter;
		
		&:after{
			font-family:$icon;
			content:"★";
			font-size:2em;
			line-height:0.5em;
			margin-top:0.5em;
			margin-bottom:0;
			display:block;
			text-align:center;
			color:$red;

		}

		@media screen and (max-width:$mobileBreak) {
			width:auto;
			float:none;
			margin-top:0.5em;
		}

	}
}


.sendmessage{
	width:$half;
	float:left;
	margin-left:$gutter;
	//margin-top:18em;





	@media screen and (max-width:$mobileBreak) {
		width:100%;
		float:none;
		margin-left:0;
	}

	h3{
		margin:2em 0 0.25em;
	}
}
.contactdata {
	width:$half;
	float:left;
	background:url(images/biga.png) repeat left top $white_mod;
	margin-top:2em;
	@include box-sizing(border-box);
	padding:0 1em;

	border:1px solid white;
	@include box-shadow(0 0 15px -5px $red_mm);

	@media screen and (max-width:$mobileBreak) {
		width:auto;
		float:none;
		margin:0 -1em 0 -1em;
	}

	h1 {
		border-bottom:1px solid $red;
	}

	h3 {
		margin:0 0 0;
	}

	p {
		margin-top:0;
	}


}


.wpcf7 {
	p {
		margin-top:0;
		
	}
	label {
		display:block;
		float:left;
		width:25%;
		@include box-sizing(border-box);
		padding:0.5em 0.5em 0.5em 0;
		background-color:$red;
		border:1px solid white;
		border-right:0;
		color:$white_mod;
		font-weight:bold;
		text-align:right;
		line-height: 1.125em;
		@include letterpress_dark(0.25);
		@media screen and (max-width:$mobileBreak) {
			width:auto;
			display:inline-block;
			float:none;
			text-align:left;
			padding-left:0.5em;
			border-right:1px solid white;
			border-bottom:0;

		}



	}
	.wpcf7-form-control-wrap {
		display:block;
		float:left;
		width:75%;
		@media screen and (max-width:$mobileBreak) {
			width:100%;
			float:none;
		}

	}

	input[type="text"], textarea {
		width:100%;
		display:block;
		@include box-sizing(border-box);
		border:1px solid white;
		border-left:0;
		padding:0.5em;
		line-height: 1.125em;
		background:url(images/biga.png) repeat left top $white_mod;
		//color:$red;
		@include box-shadow(inset 0px 0px 15px -5px $red_mm);
		
		&:focus {
			outline:1px dotted $red;
		}

		@media screen and (max-width:$mobileBreak) {
			border-left:1px solid white;
		}


	}




	input[type="submit"] {
//		display: block;
//		clear:right;
		//width:33.333%;
		float:right;
		//margin-right:-1em;
		border:0;
		color:$white_mod;
	background:$orange;
	font-family:$normal;
	font-weight:bold;
	text-align:center;
	padding:0.5em 1em;
	text-transform:uppercase;
	text-decoration:none;
	line-height:1.125em;
	@include letterpress_dark(0.5);

	&:hover {
		color:$white_mod;
		background:$red;

	}

	}
	


	img.ajax-loader {
		width:auto;
	}
}